
<body>
	<%= render "layouts/hlogin" %>
		<div class="login">
			<div class="logo">
				<i class="fas fa-file-upload"></i>
			</div>
			<form action="" method="post">
				<input type="text" name="name" placeholder="ENTER YOUR NAME">
				<input type="file" name="myFile">
				<input type="submit" name="">
			</form>
		</div>
		</div>
	<%= render "layouts/flogin" %>
</body>
